{{#each instruments as |instrument|}}

 <!-- Developers, why are we using data-id and not just id? -->
 <div>
   <div>
    <h3 data-id="{{instrument.id}}"> User: {{user.email}} </h3>
    <h2>Instrument: {{#if instrument.instrument}}
      {{instrument.instrument}}
    {{else}}
      No Instrument Provided.
    {{/if}}
  </h2>
    <h2>Genre: {{#if instrument.genre}}
      {{instrument.genre}}
    {{else}}
      No Genre Provided.
      {{/if}}
    </h2>
    </div>
  </div>

  {{/each}}
